In [2]:
import pandas as pd

In [22]:
df = pd.read_csv('trhs201852.dat')
df.head(3)

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,PRODUCT_HS,FLOW,TRANSPORT_MODE,PERIOD,VALUE_IN_EUROS,QUANTITY_IN_KG
0,1,FR,21,XC,271019,2,1,201852,6640986,19301293
1,1,FR,21,XC,29SSS5,2,3,201852,1451,118
2,1,FR,21,XC,300212,2,3,201852,4765,72

In [23]:
df2 = df.query('PARTNER_ISO == "BY"')
df2.head(2)

,DECLARANT,DECLARANT_ISO,PARTNER,PARTNER_ISO,PRODUCT_HS,FLOW,TRANSPORT_MODE,PERIOD,VALUE_IN_EUROS,QUANTITY_IN_KG
51444,1,FR,73,BY,010513,2,3,201852,234286,17600
51445,1,FR,73,BY,020714,2,3,201852,71648,318750

In [24]:
df2.to_csv('data18.csv', sep='\t', encoding='utf-8')